<page-header [breadcrumb]="breadcrumb">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a>办案管理</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a>留置人员信息查询</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="query.query =$event; load(query)" (formReset)="reset($event)"></sf>
  <st #st [res]="{process:processData}" [data]="url" [columns]="columns" [req]="{body:query}" [singleSort]="{key:'sortparam'}"></st>
</nz-card>
