<page-header [breadcrumb]="breadcrumb" [action]="action">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a>医疗管理</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a>进驻体检</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <button (click)="add()" nz-button nzType="primary">进驻体检录入</button>
  </ng-template>
</page-header>

<nz-card>
  <!--<sf mode="search" [schema]="searchSchema" (formSubmit)="query.query =$event;query.query.status = '1';st.load(query)"-->
      <!--(formReset)="reset($event)"></sf>-->
  <!--<div nz-col nzSpan="6">-->
    <!--<button nz-button nzType="primary" (click)="reset($event);">全部</button>-->
    <!--<button nz-button nzType="primary" (click)="query.query.outStatus = '0';st.load(query)">在点</button>-->
    <!--<button nz-button nzType="primary" (click)="query.query.outStatus = '1';st.load(query)">撤离</button>-->
  <!--</div>-->


  <div nz-row nzType="flex">
    <div nz-col nzSpan="18">
      <sf mode="search" [schema]="searchSchema" (formSubmit)="query.query =$event;query.query.status = '1';st.load(query)"
          (formReset)="reset($event)"></sf>
      </div>
      <div nz-col nzSpan="6">
        <button nz-button nzType="primary" (click)="reset($event);">全部</button>
        <button nz-button nzType="primary" (click)="query.query.outStatus = '0';st.load(query)">在点</button>
        <button nz-button nzType="primary" (click)="query.query.outStatus = '1';st.load(query)">撤离</button>
      </div>
    </div><br>
    <st #st [res]="{process:processData}" [data]="url" [columns]="columns" [req]="{body:query}" [singleSort]="{key:'sortparam'}"></st>
  </nz-card>
