<!--<page-header>-->
  <!--&lt;!&ndash;<ng-template #action>&ndash;&gt;-->
    <!--&lt;!&ndash;<button (click)="add()" nz-button nzType="primary">新建</button>&ndash;&gt;-->
  <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->
<!--</page-header>-->
<!--<nz-card>-->
  <!--<sf mode="search" [schema]="searchSchema" (formSubmit)="load($event)" (formReset)="reset($event)"></sf>-->
  <!--<st #st [res]="{process:processData}" [data]="url" [columns]="columns" [req]="{body:query}"></st>-->
<!--</nz-card>-->

<page-header>
  <ng-template #action>
    <!--<button  nz-button nzType="primary">新建</button>-->
  </ng-template>
</page-header>
<nz-card>
  <div style="display: flex">
    <div>
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzFor="title" >被调查人代号</nz-form-label>
        <nz-form-control  [nzSpan]="12">
          <nz-select   nzShowSearch nzPlaceHolder="请选择被调查人代号" [(ngModel)]="healthQuery.query.lpId" disabled="true" style="width: 350px" nzAllowClear>
            <nz-option *ngFor="let o of lienPersonnelResult.content" [nzValue]="o.id" [nzLabel]="o.daiHao"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div >
      <nz-form-item style="margin-top: 3px">
        <!--<button nz-button nzType="primary"  [disabled]="!healthQuery.query.lpId" (click)="findHealths()">查询</button>-->
        <button nz-button nzType="primary" [disabled]="!healthQuery.query.lpId"  (click)="exportTiZheng(healthQuery.query.lpId)">生命体征</button>
        <button nz-button nzType="primary" [disabled]="!healthQuery.query.lpId" (click)="exportSpecial(healthQuery.query.lpId)">特殊情况</button>
      </nz-form-item>
    </div>
  </div>
  <nz-table #editRowTable2 nzBordered [nzData]="healthResult.content">
    <thead>
    <tr>
      <th style="width: 150px">日期</th>
      <th>体温</th>
      <th>血压 </th>
      <th>心率</th>
      <th>血糖</th>
      <th>体重</th>
      <th>医护</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of editRowTable2.data, let i = index;"  class="editable-row">
      <td>
        <ng-container *ngIf="!editHealth[data.id].edit; else nameInputTpl">
          {{data.tiJianTime | date}}
        </ng-container>
        <ng-template #nameInputTpl>
          <nz-date-picker [nzFormat]="'yyyy-MM-dd'" [ngModelOptions]="{standalone: true}" style="width: 100%;"
                          [(ngModel)]="editHealth[data.id].data.tiJianTime">
          </nz-date-picker>
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="!editHealth[data.id].edit; else tiWenTpl">
          {{data.tiWen}}
        </ng-container>
        <ng-template #tiWenTpl>
          <input type="text" nz-input [(ngModel)]="editHealth[data.id].data.tiWen">
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="!editHealth[data.id].edit; else xueyaTpl">
          {{data.xueYa}}
        </ng-container>
        <ng-template #xueyaTpl>
          <input type="text" nz-input [(ngModel)]="editHealth[data.id].data.xueYa">
        </ng-template>
      </td>

      <td>
        <ng-container *ngIf="!editHealth[data.id].edit; else xinLvTpl">
          {{data.xinLv}}
        </ng-container>
        <ng-template #xinLvTpl>
          <input type="text" nz-input [(ngModel)]="editHealth[data.id].data.xinLv">
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="!editHealth[data.id].edit; else xueTangTpl">
          {{data.xueTang}}
        </ng-container>
        <ng-template #xueTangTpl>
          <input type="text" nz-input [(ngModel)]="editHealth[data.id].data.xueTang">
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="!editHealth[data.id].edit; else weightTpl">
          {{data.weight}}
        </ng-container>
        <ng-template #weightTpl>
          <input type="text" nz-input [(ngModel)]="editHealth[data.id].data.weight">
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="!editHealth[data.id].edit; else doctorTpl">
          {{data.doctor}}
        </ng-container>
        <ng-template #doctorTpl>
          <input type="text" nz-input [(ngModel)]="editHealth[data.id].data.doctor">
        </ng-template>
      </td>
      <td>
        <div class="editable-row-operations">
          <a  (click)="writeTeShuQingKuang(data.id)">特殊情况备注</a>
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
<nz-modal [(nzVisible)]="isVisible" nzTitle="特殊情况备注" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <textarea rows="4" nz-input [(ngModel)]="specialCase"></textarea>
</nz-modal>
