<br>
<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['/jianyidan']">办案管理</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>改进情况反馈</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="breadcrumb">
  <div class="ml-auto"  >
    <h2 style="margin-top: 10px;color:#fa8c16;">{{title}}</h2>
  </div>
</div>
<!--formControlName-->
<form nz-form [formGroup]="validateForm">
  <nz-collapse [nzBordered]="false" >
    <nz-collapse-panel  [nzHeader]="''" [ngStyle]="{'color':'#f7f7f7'}" [nzActive]="true" [nzDisabled]='true' [nzShowArrow]='false'>
      <div nz-row nzType="flex" >
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired  nzFor="fzPerson">负责人</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24">
              <input nz-input formControlName="fzPerson" id="fzPerson" placeholder="请输入负责人" [(ngModel)]="feedback.fzPerson" >
              <nz-form-explain *ngIf="validateForm.get('fzPerson').dirty && validateForm.get('fzPerson').errors">请输入负责人!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="gjTime">反馈时间</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24">
              <nz-date-picker formControlName="gjTime" id="gjTime" [nzFormat]="'yyyy-MM-dd'" [(ngModel)]="feedback.gjTime" ></nz-date-picker>
              <nz-form-explain *ngIf="validateForm.get('gjTime').dirty && validateForm.get('gjTime').errors">请选择反馈时间!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired  nzFor="phone">联系方式</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24">
              <input nz-input formControlName="phone" id="phone" placeholder="请输入联系方式" [(ngModel)]="feedback.phone" >
              <nz-form-explain *ngIf="validateForm.get('phone').dirty && validateForm.get('phone').errors">请输入联系方式!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="gjResult">改进结果</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24">
                  <textarea nz-input formControlName="gjResult" id="gjResult"  placeholder="请输入改进结果"
                            [nzAutosize]="{ minRows: 5, maxRows: 16 }" [(ngModel)]="feedback.gjResult"></textarea>
              <nz-form-explain *ngIf="validateForm.get('gjResult').dirty && validateForm.get('gjResult').errors">请输入改进结果!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <br>
      <div nz-row nzType="flex" nzJustify="center">
        <nz-form-item nz-row style="margin-bottom:8px;">
          <nz-form-control >
            <button nz-button  [nzSize]="'large'" nzType="primary" (click)="closed()">关闭</button>
            <button nz-button  [nzSize]="'large'" nzType="primary" (click)="save()">保存并提交</button>
          </nz-form-control>
        </nz-form-item>


      </div>
    </nz-collapse-panel>
  </nz-collapse>
</form>
