<page-header [breadcrumb]="breadcrumb" [action]="action">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a>医疗管理</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a>药品库</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <button (click)="add()" nz-button nzType="primary">药品录入</button>
  </ng-template>
</page-header>

<nz-card>
  <!--<div >-->
  <!--<nz-form-item style="margin-top: 3px">-->
  <!--<sf mode="search" [schema]="searchSchema" (formSubmit)="query.query =$event;st.load($event)" (formReset)="reset($event)"></sf>-->
  <!---->
  <!--</nz-form-item>-->
  <!--</div>-->
  <!--<st #st [data]="url" [res]="{process: processData}" [columns]="columns" [req]="{body: query}" [singleSort]="{key:'sortparam'}"></st>-->


  <div nz-row nzType="flex">
    <div nz-col nzSpan="18">
      <sf mode="search" [schema]="searchSchema" (formSubmit)="query.query =$event; st.load(query)"
          (formReset)="reset($event);"></sf>
    </div>
    <div nz-col nzSpan="1">
      <button  nz-button nzType="primary"   (click)="exportDrugFeiYong()">费用统计</button>
    </div>
  </div><br>
  <st #st [res]="{process:processData}" [data]="url" [columns]="columns" [req]="{body:query}" [singleSort]="{key:'sortparam'}"></st>

</nz-card>
