<page-header [breadcrumb]="breadcrumb" [action]="action">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a>案管管理</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a>留置人员信息查询</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <button (click)="zaiDianExport('ALL')" nz-button nzType="primary">全部留置人员信息一览表</button>
    <button (click)="zaiDianExport('0')" nz-button nzType="primary">在点留置人员信息一览表</button>
    <button (click)="zaiDianExport('1')" nz-button nzType="primary">撤离留置人员信息一览表</button>
    <button (click)="exportTalkSafe()" nz-button nzType="primary">讯问及安全情况日报</button>
    <button (click)="exportTalkTime()" nz-button nzType="primary">基地讯问时间表</button>
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="query.query =$event; st.reset($event)" (formReset)="reset($event)"></sf>
  <st #st [data]="url" [columns]="columns" [req]="{body:query}" [res]="{process:processData}" [singleSort]="{key:'sortparam'}">
    <ng-template st-row="yujing" let-item>
      <span nz-tooltip style="color:red;font-size: 16px;"><strong>{{item.yujing}}</strong></span>
    </ng-template>
  </st>
</nz-card>

<nz-modal [(nzVisible)]="isShowTalkSafe" nzTitle="导出讯问及安全情况日报" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <nz-date-picker [(ngModel)]="talkSafeRiqi" (ngModelChange)="onChange($event)"></nz-date-picker>
</nz-modal>
<nz-modal [(nzVisible)]="isShowTalkTime" nzTitle="导出基地讯问时间表" (nzOnCancel)="handleCancel1()" (nzOnOk)="handleOk1()">
  <nz-date-picker [(ngModel)]="talkTimeRiqi" (ngModelChange)="onChange1($event)"></nz-date-picker>
</nz-modal>
