.ng-select.custom ::ng-deep .ng-select-container  {
  min-height: 0;
  border-radius: 20px;
}
::ng-deep .ant-collapse-content {
  overflow: visible;
}
::ng-deep .ant-form-item-control {
  line-height: 0;
}
::ng-deep .ng-dropdown-panel .scroll-host {
  line-height: 10px;
}
::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  line-height: 20px;
  min-height: 20px;
}
::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  line-height: 20px;
  min-height: 20px;
}
