<page-header [breadcrumb]="breadcrumb">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a [routerLink]="['/changguitijian']">常规体检列表</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a>{{title1}}</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <div class="breadcrumb">
    <div class="ml-auto">
      <h2>{{title1}}</h2>
    </div>
  </div>
</page-header>
<form nz-form [formGroup]="validateForm">
  <nz-collapse [nzBordered]="false">
    <nz-collapse-panel [nzHeader]="''" [ngStyle]="{'color':'#f7f7f7'}" [nzActive]="true" [nzDisabled]='true'
                       [nzShowArrow]='false'>
      <div nz-row nzType="flex">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lpId">代号</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-select formControlName="lpId" name="lpId" style="width: 100%;" nzPlaceHolder="请选择被调查人代号"
                         [(ngModel)]="health.lpId"
                         (nzScrollToBottom)="loadMore()" (ngModelChange)="selectDrug()" nzAllowClear>
                <nz-option *ngFor="let o of lienPersonnelsorts.content" [nzValue]="o.id" [nzLabel]="o.daiHao"></nz-option>
                <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                  <i nz-icon type="loading" class="loading-icon"></i> Loading Data...
                </nz-option>
              </nz-select>
              <nz-form-explain *ngIf="validateForm.get('lpId').dirty && validateForm.get('lpId').errors">
                此项为必填！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tiJianTime">日期</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-date-picker formControlName="tiJianTime" id="tiJianTime" [nzFormat]="'yyyy-MM-dd'"
                              style="width: 100%;"
                              [(ngModel)]="health.tiJianTime"></nz-date-picker>
              <nz-form-explain *ngIf="validateForm.get('tiJianTime').dirty && validateForm.get('tiJianTime').errors">
                此项为必填！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="weight">体重</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input nz-input formControlName="weight" id="weight"  placeholder="请输入体重"
                     [(ngModel)]="health.weight">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tiWen">体温</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input nz-input formControlName="tiWen" id="tiWen"  placeholder="请输入体温"
                     [(ngModel)]="health.tiWen">
              <nz-form-explain *ngIf="validateForm.get('tiWen').dirty && validateForm.get('tiWen').errors">
                此项为必填！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="gaoXueYa">血压</nz-form-label>
            <nz-form-control [nzSm]="7" [nzXs]="24">
              <input nz-input formControlName="gaoXueYa" style="width: 70%;" id="gaoXueYa" placeholder="高压"
                     [(ngModel)]="health.gaoXueYa">
              <nz-form-explain *ngIf="validateForm.get('gaoXueYa').dirty && validateForm.get('gaoXueYa').errors">此项为必填！
              </nz-form-explain>
            </nz-form-control>
            <nz-form-control [nzSm]="7" [nzXs]="24">
              <input nz-input formControlName="xueYa" style="width: 70%;" id="xueYa"  placeholder="低压"
                     [(ngModel)]="health.xueYa">
              <nz-form-explain *ngIf="validateForm.get('xueYa').dirty && validateForm.get('xueYa').errors">
                此项为必填！
              </nz-form-explain>
            </nz-form-control>
            <!--<nz-form-item>-->
              <!--<nz-form-label [nzSm]="2" [nzXs]="24" nzFor="xueYa"></nz-form-label>-->
              <!--<nz-form-control [nzSm]="7" [nzXs]="24">-->
                <!--<input nz-input formControlName="xueYa" id="xueYa"  placeholder="低压"-->
                       <!--[(ngModel)]="health.xueYa">-->
                <!--<nz-form-explain *ngIf="validateForm.get('xueYa').dirty && validateForm.get('xueYa').errors">-->
                  <!--此项为必填！-->
                <!--</nz-form-explain>-->
              <!--</nz-form-control>-->
            <!--</nz-form-item>-->
          </nz-form-item>
        </div>
        <!--<div nz-col nzSpan="12">-->
          <!---->
        <!--</div>-->

        <!--<div nz-col nzSpan="12">-->
          <!--<nz-form-item>-->
            <!--<nz-form-label [nzSm]="6" [nzXs]="24" nzFor="xueTang">血糖</nz-form-label>-->
            <!--<nz-form-control [nzSm]="14" [nzXs]="24">-->
              <!--<input nz-input formControlName="xueTang" id="xueTang" style="width: 100%;" placeholder="请输入血糖"-->
                     <!--[(ngModel)]="health.xueTang">-->
              <!--<nz-form-explain *ngIf="validateForm.get('xueTang').dirty && validateForm.get('xueTang').errors">-->
                <!--此项为必填！-->
              <!--</nz-form-explain>-->
            <!--</nz-form-control>-->
          <!--</nz-form-item>-->
        <!--</div>-->
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="xinLv">心率</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input nz-input formControlName="xinLv" id="xinLv" placeholder="请输入心率"
                     [(ngModel)]="health.xinLv">
              <nz-form-explain *ngIf="validateForm.get('xinLv').dirty && validateForm.get('xinLv').errors">此项为必填！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="doctor">医护</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input nz-input formControlName="doctor" id="doctor" placeholder="请输入医护"
                     [(ngModel)]="health.doctor">
              <nz-form-explain *ngIf="validateForm.get('doctor').dirty && validateForm.get('doctor').errors">此项为必填！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>


        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="doctor">用药记录</nz-form-label>
            <nz-form-control [nzSm]="21" [nzXs]="24">
              <nz-card>
                    <button nz-button [nzType]="'primary'" (click)="add()"><span>用药记录</span></button>

                    <nz-select formControlName="aa" id="aa" style="width: 150px; margin-left: 15px;"
                               nzAllowClear [(ngModel)]="healthDrugRelate.yongyaoType" >
                      <nz-option [nzLabel]="'长期用药'" [nzValue]="'0'"></nz-option>
                      <nz-option   [nzLabel]="'临时用药'" [nzValue]="'1'"></nz-option>
                    </nz-select>

                <!--长期用药表格-->
                <table class="gridtable" *ngIf="healthDrugRelate.yongyaoType === '0'">
                  <thead>
                  <tr>
                    <th>开始日期</th>
                    <th>用药名称</th>
                    <th>数量 </th>
                    <th>规格</th>
                    <th>频次</th>
                    <th>用法</th>
                    <th>结束日期</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let data of healthDrugRelateList">
                    <td>
                      <div class="editable-cell">
                        <div class="editable-cell-text-wrapper">
                          <ng-container *ngIf="!editCache[data.id].edit">
                            {{data.kaishiTime}}
                          </ng-container>
                          <ng-container *ngIf="editCache[data.id].edit">
                            <nz-date-picker [nzFormat]="'yyyy-MM-dd'"
                                            [ngModelOptions]="{standalone: true}"
                                            style="width: 100%;"
                                            [(ngModel)]="editCache[data.id].data.kaishiTime">
                            </nz-date-picker>

                            <!--<input  type="text" [ngModelOptions]="{standalone: true}" nz-input-->
                                    <!--[(ngModel)]="editCache[data.id].data.kaishiTime">-->
                          </ng-container>
                        </div>
                      </div>
                    </td>
                    <td scope="row">
                      <ng-container *ngIf="!editCache[data.id].edit">
                        {{data.drugName}}
                      </ng-container>
                      <ng-container *ngIf="editCache[data.id].edit">
                        <nz-select [ngModelOptions]="{standalone: true}"  nzPlaceHolder="请选择用药"
                                   [(ngModel)]="editCache[data.id].data.dId"
                                   (nzScrollToBottom)="loadMore()" nzAllowClear>
                          <nz-option *ngFor="let o of optionYaopin" [nzValue]="o.id" [nzLabel]="o.dicName"></nz-option>
                        </nz-select>
                      </ng-container>
                    </td>
                    <td>
                      <div class="editable-cell">
                        <div class="editable-cell-text-wrapper">
                          <ng-container *ngIf="!editCache[data.id].edit">
                            {{data.yongliang}}
                          </ng-container>
                          <ng-container *ngIf="editCache[data.id].edit">
                            <input  type="text" [ngModelOptions]="{standalone: true}" nz-input
                                   [(ngModel)]="editCache[data.id].data.yongliang">
                          </ng-container>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="editable-cell">
                        <div class="editable-cell-text-wrapper">
                          <ng-container *ngIf="!editCache[data.id].edit">
                            {{data.danwei}}
                          </ng-container>
                          <ng-container *ngIf="editCache[data.id].edit">
                            <input  type="text" [ngModelOptions]="{standalone: true}" nz-input
                                   [(ngModel)]="editCache[data.id].data.danwei">
                          </ng-container>
                        </div>
                      </div>
                    </td>
                    <td scope="row">
                      <ng-container *ngIf="!editCache[data.id].edit">
                        {{data.pinci}}
                      </ng-container>
                      <ng-container *ngIf="editCache[data.id].edit">
                        <nz-select [ngModelOptions]="{standalone: true}"  nzPlaceHolder="请选择频次"
                                   [(ngModel)]="editCache[data.id].data.pinci"
                                   nzAllowClear>
                          <nz-option [nzValue]="'1/日'" [nzLabel]="'1/日'"></nz-option>
                          <nz-option [nzValue]="'2/日'" [nzLabel]="'2/日'"></nz-option>
                          <nz-option [nzValue]="'3/日'" [nzLabel]="'3/日'"></nz-option>
                          <nz-option [nzValue]="'4/日'" [nzLabel]="'4/日'"></nz-option>
                        </nz-select>
                      </ng-container>
                    </td>
                    <td scope="row">
                          <ng-container *ngIf="!editCache[data.id].edit">
                            {{data.remark}}
                          </ng-container>
                          <ng-container *ngIf="editCache[data.id].edit">
                            <nz-select [ngModelOptions]="{standalone: true}"  nzPlaceHolder="请选择用法"
                                       [(ngModel)]="editCache[data.id].data.remark"
                                        nzAllowClear>
                              <nz-option [nzValue]="'口服'" [nzLabel]="'口服'"></nz-option>
                              <nz-option [nzValue]="'含服'" [nzLabel]="'含服'"></nz-option>
                              <nz-option [nzValue]="'静脉点滴'" [nzLabel]="'静脉点滴'"></nz-option>
                              <nz-option [nzValue]="'静脉注射'" [nzLabel]="'静脉注射'"></nz-option>
                            </nz-select>
                          </ng-container>
                    </td>
                    <td>
                      <div class="editable-cell">
                        <div class="editable-cell-text-wrapper">
                          <ng-container *ngIf="!editCache[data.id].edit">
                            {{data.jieshuTime}}
                          </ng-container>
                          <ng-container *ngIf="editCache[data.id].edit">
                            <nz-date-picker [nzFormat]="'yyyy-MM-dd'"
                                            [ngModelOptions]="{standalone: true}"
                                            style="width: 100%;"
                                            [(ngModel)]="editCache[data.id].data.jieshuTime">
                            </nz-date-picker>
                          </ng-container>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="editable-row-operations">
                        <ng-container *ngIf="!editCache[data.id].edit">
                          <a (click)="startEdit(data.id)">编辑</a>
                          <nz-divider nzType="vertical"></nz-divider>
                          <nz-popconfirm [nzTitle]="'确定删除吗?'" (nzOnConfirm)="goToDeleted(data)">
                            <a nz-popconfirm>删除</a>
                          </nz-popconfirm>
                          <!--<a (click)="goToDeleted(data)">删除</a>-->
                        </ng-container>
                        <ng-container *ngIf="editCache[data.id].edit">
                          <a (click)="saveEdit(editCache[data.id])">保存</a>
                        </ng-container>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <!--临时用药表格-->
                <table class="gridtable" *ngIf="healthDrugRelate.yongyaoType === '1'">
                  <thead>
                  <tr>
                    <th>日期</th>
                    <th>用药名称</th>
                    <th>数量 </th>
                    <th>规格</th>
                    <!--<th>频次</th>-->
                    <th>用法</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let data of healthDrugRelateLists">
                    <td>
                      <div class="editable-cell">
                        <div class="editable-cell-text-wrapper">
                          <ng-container *ngIf="!editCache[data.id].edit">
                            {{data.kaishiTime}}
                          </ng-container>
                          <ng-container *ngIf="editCache[data.id].edit">
                            <nz-date-picker [nzFormat]="'yyyy-MM-dd'"
                                            [ngModelOptions]="{standalone: true}"
                                            style="width: 100%;"
                                            [(ngModel)]="editCache[data.id].data.kaishiTime">
                            </nz-date-picker>
                          </ng-container>
                        </div>
                      </div>
                    </td>
                    <td scope="row">
                      <ng-container *ngIf="!editCache[data.id].edit">
                        {{data.drugName}}
                      </ng-container>
                      <ng-container *ngIf="editCache[data.id].edit">
                        <nz-select [ngModelOptions]="{standalone: true}"  nzPlaceHolder="请选择用药"
                                   [(ngModel)]="editCache[data.id].data.dId"
                                   (nzScrollToBottom)="loadMore()" nzAllowClear>
                          <nz-option *ngFor="let o of optionYaopin" [nzValue]="o.id" [nzLabel]="o.dicName"></nz-option>
                        </nz-select>
                      </ng-container>
                    </td>
                    <td>
                      <div class="editable-cell">
                        <div class="editable-cell-text-wrapper">
                          <ng-container *ngIf="!editCache[data.id].edit">
                            {{data.yongliang}}
                          </ng-container>
                          <ng-container *ngIf="editCache[data.id].edit">
                            <input  type="text" [ngModelOptions]="{standalone: true}" nz-input
                                    [(ngModel)]="editCache[data.id].data.yongliang">
                          </ng-container>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="editable-cell">
                        <div class="editable-cell-text-wrapper">
                          <ng-container *ngIf="!editCache[data.id].edit">
                            {{data.danwei}}
                          </ng-container>
                          <ng-container *ngIf="editCache[data.id].edit">
                            <input  type="text" [ngModelOptions]="{standalone: true}" nz-input
                                    [(ngModel)]="editCache[data.id].data.danwei">
                          </ng-container>
                        </div>
                      </div>
                    </td>
                    <!--<td scope="row">-->
                      <!--<ng-container *ngIf="!editCache[data.id].edit">-->
                        <!--{{data.pinci}}-->
                      <!--</ng-container>-->
                      <!--<ng-container *ngIf="editCache[data.id].edit">-->
                        <!--<nz-select [ngModelOptions]="{standalone: true}"  nzPlaceHolder="请选择频次"-->
                                   <!--[(ngModel)]="editCache[data.id].data.pinci"-->
                                   <!--nzAllowClear>-->
                          <!--<nz-option [nzValue]="'日1'" [nzLabel]="'日1'"></nz-option>-->
                          <!--<nz-option [nzValue]="'日2'" [nzLabel]="'日2'"></nz-option>-->
                          <!--<nz-option [nzValue]="'日3'" [nzLabel]="'日3'"></nz-option>-->
                          <!--<nz-option [nzValue]="'日4'" [nzLabel]="'日4'"></nz-option>-->
                        <!--</nz-select>-->
                      <!--</ng-container>-->
                    <!--</td>-->
                    <td scope="row">
                      <ng-container *ngIf="!editCache[data.id].edit">
                        {{data.remark}}
                      </ng-container>
                      <ng-container *ngIf="editCache[data.id].edit">
                        <nz-select [ngModelOptions]="{standalone: true}"  nzPlaceHolder="请选择用法"
                                   [(ngModel)]="editCache[data.id].data.remark"
                                   nzAllowClear>
                          <nz-option [nzValue]="'口服'" [nzLabel]="'口服'"></nz-option>
                          <nz-option [nzValue]="'含服'" [nzLabel]="'含服'"></nz-option>
                          <nz-option [nzValue]="'静脉点滴'" [nzLabel]="'静脉点滴'"></nz-option>
                          <nz-option [nzValue]="'静脉注射'" [nzLabel]="'静脉注射'"></nz-option>
                        </nz-select>
                      </ng-container>
                    </td>
                    <td>
                      <div class="editable-row-operations">
                        <ng-container *ngIf="!editCache[data.id].edit">
                          <a (click)="startLinshi(data.id)">编辑</a>
                          <nz-divider nzType="vertical"></nz-divider>
                          <nz-popconfirm [nzTitle]="'确定删除吗?'" (nzOnConfirm)="goToDeleteds(data)">
                            <a nz-popconfirm>删除</a>
                          </nz-popconfirm>
                          <!--<a (click)="goToDeleted(data)">删除</a>-->
                        </ng-container>
                        <ng-container *ngIf="editCache[data.id].edit">
                          <a (click)="saveLinshi(editCache[data.id])">保存</a>
                        </ng-container>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>

              </nz-card>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="specialCase">特殊情况</nz-form-label>
            <nz-form-control [nzSm]="21" [nzXs]="24">
              <textarea nz-input formControlName="specialCase" id="specialCase" placeholder="请输入特殊情况"
                        [(ngModel)]="health.specialCase" style="height: 100px">
              </textarea>
              <nz-form-explain *ngIf="validateForm.get('specialCase').dirty && validateForm.get('specialCase').errors">
                此项为必填！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  <br>

  <div nz-row nzType="flex" nzJustify="center">
    <nz-form-item nz-row style="margin-bottom:8px;">
      <nz-form-control>
        <button nz-button  [nzSize]="'large'" nzType="primary" (click)="closed()">关闭</button>
        <button nz-button nzType="primary" nzSize="large" (click)="submitForm()" [nzLoading]="isLoading">保存</button>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>


