<page-header [breadcrumb]="breadcrumb" [action]="action">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a>看护管理</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a>每日情况录入</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <button (click)="add()" nz-button nzType="primary">每日情况录入</button>
  </ng-template>
</page-header>

<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="queryParam.query = $event; load(queryParam)"
      (formReset)="reset($event)"></sf>
  <st #st [data]="url" [columns]="columns" [req]="{body: queryParam}" [res]="{process:processData}" [singleSort]="{key:'sortparam'}"></st>
</nz-card>
