<br>
<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['/talklist']">看护管理</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>谈话信息查看</a>

  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="breadcrumb">
  <div class="ml-auto">
    <h2 style="margin-top: 10px;">{{title1}}</h2>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="12">
    <form nz-form [formGroup]="validateForm">
      <nz-collapse [nzBordered]="false">
        <nz-collapse-panel [nzHeader]="''" [ngStyle]="{'color':'#f7f7f7'}" [nzActive]="true" [nzDisabled]='true'
                           [nzShowArrow]='false'>
          <div nz-row nzType="flex">
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="daiHao">被调查人代号</nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="24">
                  {{daiHao}}
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="bumen">填报部门</nz-form-label>
                <nz-form-control [nzSm]="12" [nzXs]="24">
                  {{buMen}}
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <nz-collapse [nzBordered]="false">
            <nz-collapse-panel [nzHeader]="'办案人员信息'" [nzDisabled]='false'
                               [nzShowArrow]='true' [nzActive]="true">
              <div nz-row nzType="flex" style="height: 400px;overflow-y: scroll;">
                <div nz-col [nzSpan]="12" *ngFor="let u of renyuanxinxi">
                  <nz-card nzHoverable style="width:200px;" [nzCover]="coverTemplate"
                           [ngClass]="{'hightLight': u?.employeeId === cardInfoDtoQuery?.employeeId}" >
                    <nz-card-meta nzTitle="姓名：{{u?.employeeName}}"
                                  nzDescription="编号：{{u?.employeeId}}"></nz-card-meta>
                  </nz-card>
                  <ng-template #coverTemplate>
                    <div>
                      <img style="height: 200px;width: 200px" alt="暂无照片" src="{{photourl}}{{u?.photo}}" />
                    </div>
                  </ng-template>

                </div>
              </div>
            </nz-collapse-panel>
          </nz-collapse>
        </nz-collapse-panel>
      </nz-collapse>
      <br>
    </form>
  </div>
  <div nz-col nzSpan="12">
    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel [nzHeader]="''" [ngStyle]="{'color':'#f7f7f7'}" [nzActive]="true" [nzDisabled]='true'
                         [nzShowArrow]='false'>
        <div nz-row nzType="flex">
          <div nz-col nzSpan="24">
            <form nz-form>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24">卡号</nz-form-label>
                <nz-form-control [nzSm]="18" [nzXs]="24">
                  <div nz-row [nzGutter]="8">
                    <div nz-col [nzSpan]="12">
                      <input nz-input [(ngModel)]="kaHao" name="kaHao" nzPlaceHolder="">
                    </div>
                    <div nz-col [nzSpan]="12">
                      <button nz-button [nzType]="'primary'" (click)="connect_card()" [nzLoading]="isDukaLoading">读卡</button>
                      <button nz-button [nzType]="'primary'" (click)="addTanHuaOne()"><span>添加</span></button>
                    </div>
                  </div>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control [nzSm]="22" [nzXs]="24">
                  <nz-table #basicTable [nzData]="lPTanHuaRelateList">
                    <thead>
                    <tr>
                      <th>谈话人</th>
                      <th>开始时间</th>
                      <th>结束时间</th>
                      <th>日期</th>
                      <th>备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let nurse1 of basicTable.data">
                      <td><span nz-tooltip nzTitle="{{nurse1?.tanHuaRen}}">{{(nurse1?.tanHuaRen?.length > 15)?(nurse1?.tanHuaRen?.substring(0,15)+'...'):(nurse1?.tanHuaRen)}}</span></td>
                      <td><span nz-tooltip nzTitle="{{nurse1?.talkStartTime}}">{{((nurse1?.talkStartTime?.length) === 19) ? (nurse1?.talkStartTime.substring(10,19)):nurse1?.talkStartTime}}</span></td>
                      <td><span nz-tooltip nzTitle="{{nurse1?.talkEndTime}}">{{((nurse1?.talkEndTime?.length) === 19) ? (nurse1?.talkEndTime.substring(10,19)):nurse1?.talkEndTime}}</span></td>
                      <td><span nz-tooltip nzTitle="{{nurse?.submitTime}}">{{nurse?.submitTime}}</span></td>
                      <!--<td><span nz-tooltip nzTitle="{{nurse1.remark}}">{{nurse1.remark}}</span></td>-->
<!--                      <td><button nz-button [nzType]="'primary'" [nzSize]="'small'" ><span></span></button></td>-->
                      <td><a (click)="openRemark(nurse1)">查看</a></td>

                    </tr>
                    </tbody>
                  </nz-table>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-collapse>
                  <nz-collapse-panel *ngFor="let lpthl of lPTanHuaRelateListOfChildGroup" [nzHeader]="'谈话人：' + getTanhuaRen(lpthl)" [nzActive]="true"
                    [nzDisabled]="false">
                    <nz-form-control [nzSm]="24" [nzXs]="24">
                        <nz-table #smallTable [nzData]="lpthl" [nzFrontPagination]="false"
                                  [nzShowPagination]="false">
                          <thead>
                          <tr>
                            <th>谈话人</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>操作</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let record of smallTable.data; let i = index">
                            <td><span nz-tooltip nzTitle="{{record?.tanHuaRen}}">{{(record?.tanHuaRen?.length > 5)?(record?.tanHuaRen?.substring(0,5)):(record?.tanHuaRen)}}</span></td>
                            <td><span nz-tooltip nzTitle="{{record?.talkStartTime}}">{{((record?.talkStartTime?.length) === 19) ? (record?.talkStartTime.substring(10,19)):record?.talkStartTime}}</span></td>
                            <td><span nz-tooltip nzTitle="{{record?.talkEndTime}}">{{((record?.talkEndTime?.length) === 19) ? (record?.talkEndTime.substring(10,19)):record?.talkEndTime}}</span></td>
                            <td>
                              <a (click)="showModal(record)"><span>编辑</span></a>
                              <nz-divider nzType="vertical"></nz-divider>
                              <a nz-popconfirm nzTitle="确定删除?" (nzOnConfirm)="deletedRecord(record)">删除</a>
                            </td>
                          </tr>
                          </tbody>
                        </nz-table>
                    </nz-form-control>
                  </nz-collapse-panel>
                </nz-collapse>
              </nz-form-item>
            </form>
          </div>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
    <object classid="CLSID:459B79A0-8785-4386-8EC6-C2B5D4F49C4A" id="MReader" codebase="ActiveReader.dll"></object>
  </div>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="编辑" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <form nz-form>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">谈话人</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24">
        <input nz-input  name="talkId" [(ngModel)]="lpRelateEdit.tanHuaRen" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">开始时间</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-date-picker
          [nzMode]="'time'" nzShowTime
          name="talkTimeOpen" [(ngModel)]="lpRelateEdit.startTime"
          (nzOnOpenChange)="handleDateOpenChange($event)"
          (nzOnPanelChange)="handleDatePanelChange($event)">
        </nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">结束时间</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-date-picker
          [nzMode]="'time'" nzShowTime
          name="talkTimeClose" [(ngModel)]="lpRelateEdit.endTime">
        </nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <!--<nz-form-item>-->
      <!--<nz-form-label [nzSm]="6" [nzXs]="24">备注</nz-form-label>-->
      <!--<nz-form-control [nzSm]="10" [nzXs]="24">-->
        <!--<input nz-input name="remarks" [(ngModel)]="lpRelateEdit.remark" />-->
      <!--</nz-form-control>-->
    <!--</nz-form-item>-->
  </form>
</nz-modal>
<nz-modal [(nzVisible)]="isVisibleTanHua" nzTitle="添加" (nzOnCancel)="handleCancelTanHua()" (nzOnOk)="handleOkTanHua()">
  <form nz-form>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>谈话人</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24">
        <input nz-input  name="tanHuaRen" [(ngModel)]="lienPersonnelTanHuaRelate.tanHuaRen" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>开始时间</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-date-picker
          [nzMode]="dateMode" nzShowTime (nzOnOpenChange)="handleDateOpenChange($event)"
          (nzOnPanelChange)="handleDatePanelChange($event)"
          name="talkStartTime" [(ngModel)]="lienPersonnelTanHuaRelate.startTime">
        </nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>结束时间</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-date-picker
          [nzMode]="dateMode" nzShowTime (nzOnOpenChange)="handleDateOpenChange($event)"
          (nzOnPanelChange)="handleDatePanelChange($event)"
          name="talkEndTime" [(ngModel)]="lienPersonnelTanHuaRelate.endTime">
        </nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleRemark" nzTitle="备注" (nzOnCancel)="handleCancelRemark()" (nzOnOk)="handleOkTanHuaRemark()">
  <form nz-form>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>备注</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <textarea  nz-input rows="4" placeholder="请输入备注" [(ngModel)]="lipRemark.remark" name="remark"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<style>
  .hightLight {
    -webkit-transition: border linear .2s, -webkit-box-shadow linear .5s;
    border-color: rgba(141, 39, 142, .75);
    -webkit-box-shadow: 0 0 18px rgba(111, 1, 32, 3);
  }
</style>
