<page-header [breadcrumb]="breadcrumb">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a>案管管理</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a>问题反馈</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="queryParam.query = $event; st.load($event)" (formReset)="reset($event)"></sf>
  <st #st [res]="{process:processData}" [data]="url" [columns]="columns"  [req]="{body: queryParam}" [singleSort]="{key:'sortparam'}"></st>
</nz-card>
