<page-header>
  <ng-template #action>
    <button  nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-card>
  <sf #sf1 mode="search" [schema]="searchSchema1" (formSubmit)="queryCater.query=$event; queryCater.query.cateringMenu = '0'; load($event)" (formReset)="reset($event)"></sf>
  <st #st1 [data]="url1" [columns]="columns1" [req]="{body: queryCater}" [res]="{process:processData1}"></st>
</nz-card>
<nz-card>
  <sf #sf mode="search" [schema]="searchSchema" (formSubmit)="queryParam.query=$event; load1($event)" (formReset)="resete($event)"></sf>
  <st #st [data]="url" [columns]="columns" [req]="{body: queryParam}" [res]="{process:processData}"></st>
</nz-card>
