<page-header [breadcrumb]="breadcrumb">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a>进驻管理</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a>谈话审批</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)=" querys.query = $event; st.reset($event)" (formReset)="reset($event)"></sf>
  <st #st [data]="url" [columns]="columns" [req]="{body:querys}" [res]="{process:processData}" [singleSort]="{key:'sortparam'}"></st>
</nz-card>
