<page-header>
  <ng-template #action>
    <button  nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-card>
  <div style="display: flex">
    <div>
      <nz-form-item>
        <nz-form-control [nzSpan]="12">
          <nz-select (ngModelChange)="change()" nzPlaceHolder="选择" style="width: 300px" name="selectValue" [(ngModel)]="selectValue">
            <nz-option nzValue="0" nzLabel="在点被调查人代号"></nz-option>
            <nz-option nzValue="1" nzLabel="撤离被调查人代号"></nz-option>
          </nz-select>
        </nz-form-control>
        <nz-form-control  [nzSpan]="12">
          <nz-select   nzShowSearch nzPlaceHolder="请选择被调查人代号" [(ngModel)]="healthQuery.query.lpId" style="width: 300px" nzAllowClear>
            <nz-option *ngFor="let o of lienPersonnelResult.content" [nzValue]="o.id" [nzLabel]="o.daiHao"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div >
      <nz-form-item style="margin-top: 3px">
        <button nz-button nzType="primary"  [disabled]="!healthQuery.query.lpId" (click)="findHealths()">查询</button>
         <!--<button nz-button nzType="primary" [disabled]="!healthQuery.query.lpId" (click)="exportSpecial(healthQuery.query.lpId)">特殊情况</button>-->
      </nz-form-item>
    </div>
  </div>
  <div style="margin-bottom: 10px">
    <button nz-button (click)="addRow(editRowTable2)" [disabled]="disable" nzType="primary">新增</button>
    <button nz-button nzType="primary" [disabled]="!healthQuery.query.lpId"  (click)="exportTiZheng(healthQuery.query.lpId)">导出</button>

  </div>

  <nz-table #editRowTable2 nzBordered [nzData]="healthResult.content">
    <thead>
    <tr>
      <th style="width: 150px">日期</th>
      <th>体温</th>
      <th>血压</th>
      <th>心率</th>
      <th>血糖</th>
      <th>体重</th>
      <th>医护</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of editRowTable2.data, let i = index;"  class="editable-row">
      <td>
        <ng-container *ngIf="!editHealth[data.id].edit; else nameInputTpl">
          {{data.tiJianTime | date}}
        </ng-container>
        <ng-template #nameInputTpl>
          <nz-date-picker [nzFormat]="'yyyy-MM-dd'" [ngModelOptions]="{standalone: true}" style="width: 100%;"
                          [(ngModel)]="editHealth[data.id].data.tiJianTime">
          </nz-date-picker>
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="!editHealth[data.id].edit; else tiWenTpl">
          {{data.tiWen}}
        </ng-container>
        <ng-template #tiWenTpl>
          <input type="text" nz-input [(ngModel)]="editHealth[data.id].data.tiWen" placeholder="体温">
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="!editHealth[data.id].edit; else xueYaTpl">
          {{data.gaoXueYa}}<strong>/</strong>{{data.xueYa}}
        </ng-container>
        <ng-template #xueYaTpl>
          <nz-input-group>
            <input type="text" nz-input [(ngModel)]="editHealth[data.id].data.gaoXueYa" style="width: 50%" placeholder="高压">
            <input type="text" nz-input [(ngModel)]="editHealth[data.id].data.xueYa" style="width: 50%" placeholder="低压">
          </nz-input-group>
        </ng-template>
      </td>

      <td>
        <ng-container *ngIf="!editHealth[data.id].edit; else xinLvTpl">
          {{data.xinLv}}
        </ng-container>
        <ng-template #xinLvTpl>
          <input type="text" nz-input [(ngModel)]="editHealth[data.id].data.xinLv" placeholder="心率">
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="!editHealth[data.id].edit; else xueTangTpl">
          {{data.xueTang}}
        </ng-container>
        <ng-template #xueTangTpl>
          <input type="text" nz-input [(ngModel)]="editHealth[data.id].data.xueTang" placeholder="血糖">
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="!editHealth[data.id].edit; else weightTpl">
          {{data.weight}}
        </ng-container>
        <ng-template #weightTpl>
          <input type="text" nz-input [(ngModel)]="editHealth[data.id].data.weight" placeholder="体重">
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="!editHealth[data.id].edit; else doctorTpl">
          {{data.doctor}}
        </ng-container>
        <ng-template #doctorTpl>
          <input type="text" nz-input [(ngModel)]="editHealth[data.id].data.doctor" placeholder="医护">
        </ng-template>
      </td>
      <td>
        <div class="editable-row-operations">
          <ng-container *ngIf="!editHealth[data.id].edit; else saveTpl">
            <a (click)="startEdit2(data.id)">编辑</a>
            <a nz-popconfirm nzTitle="确定删除?" (nzOnConfirm)="deletedEdit2(data.id)">删除</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit2(data.id)">保存</a>
            <a *ngIf="data.id !=='null'" (click)="cancelEdit2(data.id)">取消</a>
            <a *ngIf="data.id ==='null'" (click)="deletedEdit2(data.id)">取消</a>
          </ng-template>
          <!--<a  (click)="writeTeShuQingKuang(data.id)">特殊情况备注</a>-->
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
<nz-modal [(nzVisible)]="isVisible" nzTitle="特殊情况备注" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <textarea rows="4" nz-input [(ngModel)]="specialCase"></textarea>
</nz-modal>
