<page-header [breadcrumb]="breadcrumb" [action]="action">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a>办案人员权限管理</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <button (click)="add()" nz-button nzType="primary">办案人员登记</button>
  </ng-template>
</page-header>

<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="queryParam.query = $event; st.reset($event)" (formReset)="reset($event)"></sf>
  <st #st [data]="url" [columns]="columns"  [res]="{process:processData}" [req]="{body: queryParam}"></st>
</nz-card>
