<br>
<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['/']">首页</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a [routerLink]="['/lienpersonnelDetail',{id:id}]">进驻查看详情</a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="breadcrumb">
  <div class="ml-auto">
    <h2 style="margin-top: 10px;color:#fa8c16;">{{title1}}</h2>
  </div>
</div>

<form nz-form>
  <nz-collapse [nzBordered]="false">
    <nz-collapse-panel [nzHeader]="''" [ngStyle]="{'color':'#f7f7f7'}" [nzActive]="true" [nzDisabled]='true'
                       [nzShowArrow]='false'>
      <div nz-row nzType="flex">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="lpId">代号</nz-form-label>
            <nz-form-control [nzSm]="21" [nzXs]="24">
              <nz-select name="lpId" id="lpId" style="width: 100%;" nzPlaceHolder="请选择被调查人代号"
                         [(ngModel)]="health.lpId"
                         (nzScrollToBottom)="loadMore()" nzAllowClear disabled="true">
                <nz-option *ngFor="let o of optionLienPersonnel" [nzValue]="o.id" [nzLabel]="o.daiHao"></nz-option>
                <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                  <i nz-icon type="loading" class="loading-icon"></i> Loading Data...
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tiJianTime">日期</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <nz-date-picker name="tiJianTime" id="tiJianTime" [nzFormat]="'yyyy-MM-dd'" style="width: 100%;"
                              [(ngModel)]="health.tiJianTime" disabled="true"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tiWen">体温</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input nz-input name="tiWen" id="tiWen"  style="width: 100%;" placeholder="请输入体温"
                     [(ngModel)]="health.tiWen" disabled="true">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="gaoXueYa">高血压</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input nz-input name="gaoXueYa" id="gaoXueYa" style="width: 100%;"
                     [(ngModel)]="health.gaoXueYa" disabled="true">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="xueYa">低血压</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input nz-input name="xueYa" id="xueYa" style="width: 100%;" placeholder="请输入血压"
                     [(ngModel)]="health.xueYa" disabled="true">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="weight">体重</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input nz-input name="weight" id="weight" style="width: 100%;"
                     [(ngModel)]="health.weight" disabled="true">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="xinLv">心率</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input nz-input name="xinLv" id="xinLv" placeholder="请输入心率"
                     [(ngModel)]="health.xinLv" disabled="true">
              <!--</nz-form-explain>-->
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="xueTang">血糖</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input nz-input name="xueTang" id="xueTang" style="width: 100%;"
                     [(ngModel)]="health.xueTang" disabled="true">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="doctor">医护</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input nz-input name="doctor" id="doctor" placeholder="请输入医护"
                     [(ngModel)]="health.doctor" disabled="true">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="doctor">用药记录</nz-form-label>
            <nz-form-control [nzSm]="21" [nzXs]="24">
              <nz-card>
                <nz-select name="aa" id="aa" style="width: 150px; margin-left: 15px;"
                           nzAllowClear [(ngModel)]="healthDrugRelate.yongyaoType" >
                  <nz-option [nzLabel]="'长期用药'" [nzValue]="'0'"></nz-option>
                  <nz-option   [nzLabel]="'临时用药'" [nzValue]="'1'"></nz-option>
                </nz-select>
                <!--长期用药表格-->
                <nz-table #basicTable [nzData]="healthDrugRelateList" *ngIf="healthDrugRelate.yongyaoType === '0'">
                  <thead>
                  <tr>
                    <!--<th>序号</th>-->
                    <th>开始时间</th>
                    <th>用药名称</th>
                    <th>数量</th>
                    <th>规格</th>
                    <th>频次</th>
                    <th>用法</th>
                    <th>结束时间</th>
                    <th>操作区</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let data of basicTable.data">
                    <!--<td>{{i+1}}</td>-->
                    <td>{{data.kaishiTime}}</td>
                    <td>{{data.drugName}}</td>
                    <td>{{data.yongliang}}</td>
                    <td>{{data.danwei}}</td>
                    <td>{{data.pinci}}</td>
                    <td>{{data.remark}}</td>
                    <td>{{data.jieshuTime}}</td>
                    <td>
                      <a  (click)="goToEdit(data)">
                        查看详情
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </nz-table>
                <!--临时用药表格-->
                <nz-table #basicTable [nzData]="healthDrugRelateLists" *ngIf="healthDrugRelate.yongyaoType === '1'">
                  <thead>
                  <tr>
                    <!--<th>序号</th>-->
                    <th>开始时间</th>
                    <th>用药名称</th>
                    <th>数量</th>
                    <th>规格</th>
                    <!--<th>频次</th>-->
                    <th>用法</th>
                    <!--<th>结束时间</th>-->
                    <th>操作区</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let data of basicTable.data;let i = index">
                    <!--<td>{{i+1}}</td>-->
                    <td>{{data.kaishiTime}}</td>
                    <td>{{data.drugName}}</td>
                    <td>{{data.yongliang}}</td>
                    <td>{{data.danwei}}</td>
                    <!--<td>{{data.pinci}}</td>-->
                    <td>{{data.remark}}</td>
                    <!--<td>{{data.jieshuTime}}</td>-->
                    <td>
                      <a  (click)="goToEdit(data)">
                        查看详情
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </nz-table>
              </nz-card>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="specialCase">特殊情况</nz-form-label>
            <nz-form-control [nzSm]="21" [nzXs]="24">
              <textarea nz-input name="specialCase" id="specialCase" placeholder="请输入特殊情况"
                        [(ngModel)]="health.specialCase" style="height: 100px" disabled="true">
              </textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
  <br>

</form>

<nz-modal [(nzVisible)]="isVisible" nzTitle="{{title}}" (nzOnCancel)="handleCancel()"  [nzFooter]="null">
  <form nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="dId">用药名称</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-select name="dId" id="dId" style="width: 100%;" nzPlaceHolder="请选择分类" [(ngModel)]="healthDrugRelate.dId"
                   (nzScrollToBottom)="loadMore()"  nzAllowClear disabled="true">
          <nz-option *ngFor="let o of optionYaopin" [nzValue]="o.id" [nzLabel]="o.dicName"></nz-option>
          <nz-option *ngIf="isLoading1" nzDisabled nzCustomContent>
            <i nz-icon type="loading" class="loading-icon"></i> Loading Data...
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="yongliang">数量</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-input-number name="yongliang" style="width: 100%;" id="yongliang" placeholder="请输入用量"
                         [(ngModel)]="healthDrugRelate.yongliang" disabled="true">
        </nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="danwei">规格</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input name="danwei" style="width: 100%;" id="danwei" placeholder="请输入单位"
               [(ngModel)]="healthDrugRelate.danwei" disabled="true">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark">用法</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select [nzAllowClear]="true" name="remark" id="remark"
                   [(ngModel)]="healthDrugRelate.remark" disabled="true">
          <nz-option [nzValue]="'口服'" [nzLabel]="'口服'"></nz-option>
          <nz-option [nzValue]="'含服'" [nzLabel]="'含服'"></nz-option>
          <nz-option [nzValue]="'静脉点滴'" [nzLabel]="'静脉点滴'"></nz-option>
          <nz-option [nzValue]="'静脉注射'" [nzLabel]="'静脉注射'"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
