<page-header>
  <ng-template #action>
    <button  nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-card>
  <div style="display: flex">
    <div>
      <nz-form-item>

        <nz-form-control [nzSpan]="12">
          <nz-select (ngModelChange)="change()" nzPlaceHolder="选择" style="width: 300px" name="selectValue" [(ngModel)]="selectValue">
            <nz-option nzValue="0" nzLabel="在点被调查人代号"></nz-option>
            <nz-option nzValue="1" nzLabel="撤离被调查人代号"></nz-option>
          </nz-select>
        </nz-form-control>
        <nz-form-control  [nzSpan]="12">
          <nz-select   nzShowSearch nzPlaceHolder="请选择被调查人代号" [(ngModel)]="queryParam.query.lpId" style="width: 300px" nzAllowClear>
            <nz-option *ngFor="let o of lienPersonnelResult.content" [nzValue]="o.id" [nzLabel]="o.daiHao"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div >
      <nz-form-item style="margin-top: 3px">
        <button nz-button nzType="primary"  [disabled]="!queryParam.query.lpId" (click)="chaxun()">查询</button>

      </nz-form-item>
    </div>
  </div>
  <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab  [nzTitle]="'长期医嘱'">
      <div style="margin-bottom: 10px">
        <button nz-button (click)="addRow(editRowTable)" [disabled]="disable" nzType="primary">新增</button>
        <button nz-button nzType="primary" [disabled]="!queryParam.query.lpId" (click)="exportYongYao(queryParam.query.lpId, '0')">导出</button>
      </div>

      <nz-table #editRowTable nzBordered  [nzData]="cqResult.content">
        <thead>
        <tr>
          <th style="width: 140px">开始日期</th>
          <th style="width: 100px">医生</th>
          <th>用药名称</th>
          <th style="width: 100px">数量</th>
          <th style="width: 110px">规格</th>
          <th style="width: 100px">频次</th>
          <th style="width: 140px">用法</th>
          <th style="width: 140px">结束日期</th>
          <th style="width: 100px">医生</th>
          <th style="width: 100px">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of editRowTable.data, let i = index;"  class="editable-row">
          <td>
            <ng-container *ngIf="!editCache[data.id].edit; else kaishiTimeTpl">
              {{data.kaishiTime | date}}
            </ng-container>
            <ng-template #kaishiTimeTpl>
              <nz-date-picker [nzFormat]="'yyyy-MM-dd'" [ngModelOptions]="{standalone: true}" style="width: 100%;" [(ngModel)]="editCache[data.id].data.kaishiTime">
              </nz-date-picker>
            </ng-template>
          </td>
          <!--2-->
          <td>
            <ng-container *ngIf="!editCache[data.id].edit; else kaiYaoYiShengTpl">
              {{data.kaiYaoDoctor}}
            </ng-container>
            <ng-template #kaiYaoYiShengTpl>
              <input type="text" nz-input style="width: 100%;" [(ngModel)]="editCache[data.id].data.kaiYaoDoctor" placeholder="医生">
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="!editCache[data.id].edit; else drugNameTpl">
              {{data.drugName}}
            </ng-container>
              <ng-template #drugNameTpl>
                <nz-select   nzShowSearch nzPlaceHolder="请选择药品" [(ngModel)]="editCache[data.id].data.dId" style="width: 100%;" nzAllowClear>
                  <nz-option *ngFor="let o of yaopinResult.content" [nzValue]="o.id" [nzLabel]="o.dicName"></nz-option>
                </nz-select>
              </ng-template>

          </td>
          <!--3-->
          <td>
            <ng-container *ngIf="!editCache[data.id].edit; else yongliangTpl">
              {{data.yongliang}}
            </ng-container>
            <ng-template #yongliangTpl>
              <input type="number" nz-input style="width: 100%;" [(ngModel)]="editCache[data.id].data.yongliang" placeholder="数量">
            </ng-template>
          </td>
          <!--4-->
          <td>
            <ng-container *ngIf="!editCache[data.id].edit; else danweiTpl">
              {{data.guigeString}}
            </ng-container>
            <ng-template #danweiTpl>
              <nz-select  nzShowSearch nzPlaceHolder="请选择单位" [(ngModel)]="editCache[data.id].data.danwei" style="width: 100%;">
                <nz-option *ngFor="let o of danweiResult.content" [nzValue]="o.id" [nzLabel]="o.dicName"></nz-option>
              </nz-select>
            </ng-template>
          </td>
          <!--5-->
          <td>
            <ng-container *ngIf="!editCache[data.id].edit; else pinciTpl">
              {{data.pinciString}}
            </ng-container>
            <ng-template #pinciTpl>
              <nz-select  nzShowSearch nzPlaceHolder="请选择频次" [(ngModel)]="editCache[data.id].data.pinci" style="width: 100%;">
                <nz-option *ngFor="let o of pinciResult.content" [nzValue]="o.id" [nzLabel]="o.dicName"></nz-option>
              </nz-select>
            </ng-template>
          </td>
          <!--6-->
          <td>
            <ng-container *ngIf="!editCache[data.id].edit; else remarkTpl">
              {{data.yongfa}}
            </ng-container>
            <ng-template #remarkTpl>
              <nz-select  nzShowSearch nzPlaceHolder="请选择药品用法" [(ngModel)]="editCache[data.id].data.remark" style="width: 100%;" nzAllowClear>
                <nz-option *ngFor="let o of yaopinyongfaResult.content" [nzValue]="o.id" [nzLabel]="o.dicName"></nz-option>
              </nz-select>
            </ng-template>
          </td>
          <!--7-->
          <td>
            <ng-container *ngIf="!editCache[data.id].edit; else jieshuTimeTpl">
              {{data.jieshuTime | date}}
            </ng-container>
            <ng-template #jieshuTimeTpl>
              <nz-date-picker [nzFormat]="'yyyy-MM-dd'"
                              [ngModelOptions]="{standalone: true}"
                              style="width: 100%;"
                              [(ngModel)]="editCache[data.id].data.jieshuTime">
              </nz-date-picker>
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="!editCache[data.id].edit; else tingYaoYiShengTpl">
              {{data.tingYaoDoctor}}
            </ng-container>
            <ng-template #tingYaoYiShengTpl>
              <input type="text" nz-input style="width: 100%;" [(ngModel)]="editCache[data.id].data.tingYaoDoctor" placeholder="医生">
            </ng-template>
          </td>
          <td>
            <div class="editable-row-operations">
              <ng-container *ngIf="!editCache[data.id].edit; else saveTpl">
                <a (click)="startEdit(data.id)">编辑</a>
                <a nz-popconfirm nzTitle="确定删除?" style="margin-left: 5px" (nzOnConfirm)="deletedEdit(data.id)">删除</a>
              </ng-container>
              <ng-template #saveTpl>
                <a (click)="saveEdit(data.id)">保存</a>
                <a *ngIf="data.id !=='null'" style="margin-left: 5px" (click)="cancelEdit(data.id)">取消</a>
                <a *ngIf="data.id ==='null'" style="margin-left: 5px" (click)="deletedEdit(data.id)">取消</a>
              </ng-template>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>

    </nz-tab>


<!--222222222-->
    <nz-tab  [nzTitle]="'临时医嘱'">
      <div style="margin-bottom: 10px">
        <button nz-button (click)="addRowLS(editRowTableLS)" [disabled]="disables" nzType="primary">新增</button>
        <button nz-button nzType="primary"  [disabled]="!queryParam.query.lpId" (click)="exportYongYao(queryParam.query.lpId, '1')">导出</button>
      </div>

      <nz-table #editRowTableLS nzBordered  [nzData]="lsResult.content">
        <thead>
        <tr>
          <th style="width: 150px">日期</th>
          <th style="width: 150px">检查化验</th>
          <th>用药名称</th>
          <th style="width: 100px">数量</th>
          <th style="width: 150px">规格</th>
          <th style="width: 150px">用法</th>
          <th style="width: 130px">医护</th>
          <th style="width: 150px">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of editRowTableLS.data, let i = index;"  class="editable-row">
          <td>
            <ng-container *ngIf="!editCacheLS[data.id].edit; else LSkaishiTimeTpl">
              {{data.kaishiTime | date}}
            </ng-container>
            <ng-template #LSkaishiTimeTpl>
              <nz-date-picker [nzFormat]="'yyyy-MM-dd'"
                              [ngModelOptions]="{standalone: true}"
                              style="width: 100%;"
                              [(ngModel)]="editCacheLS[data.id].data.kaishiTime">
              </nz-date-picker>
            </ng-template>
          </td>
          <!--2-->
          <td>
            <ng-container *ngIf="!editCacheLS[data.id].edit; else projectNameTpl">
              {{data.projectName}}
            </ng-container>

            <ng-template #projectNameTpl>
              <nz-select   nzShowSearch nzPlaceHolder="请选检查项目" [(ngModel)]="editCacheLS[data.id].data.jianchaProject" style="width: 100%;" nzAllowClear>
                <nz-option *ngFor="let o of jianchaResult.content" [nzValue]="o.id" [nzLabel]="o.dicName"></nz-option>
              </nz-select>
            </ng-template>

          </td>
          <!--3-->
          <!--2-->
          <td>
            <ng-container *ngIf="!editCacheLS[data.id].edit; else LSdrugNameTpl">
              {{data.drugName}}
            </ng-container>

            <ng-template #LSdrugNameTpl>
              <nz-select   nzShowSearch nzPlaceHolder="请选择药品" [(ngModel)]="editCacheLS[data.id].data.dId" style="width: 100%;" nzAllowClear>
                <nz-option *ngFor="let o of yaopinResult.content" [nzValue]="o.id" [nzLabel]="o.dicName"></nz-option>
              </nz-select>
            </ng-template>

          </td>


          <td>
            <ng-container *ngIf="!editCacheLS[data.id].edit; else LSyongliangTpl">
              {{data.yongliang}}
            </ng-container>
            <ng-template #LSyongliangTpl>
              <input type="number" nz-input [(ngModel)]="editCacheLS[data.id].data.yongliang" placeholder="用量">
            </ng-template>
          </td>
          <!--4-->
          <td>
            <ng-container *ngIf="!editCacheLS[data.id].edit; else LSdanweiTpl">
              {{data.guigeString}}
            </ng-container>
            <ng-template #LSdanweiTpl>
              <nz-select  nzShowSearch nzPlaceHolder="请选择单位" [(ngModel)]="editCacheLS[data.id].data.danwei" style="width: 100%;">
                <nz-option *ngFor="let o of danweiResult.content" [nzValue]="o.id" [nzLabel]="o.dicName"></nz-option>
              </nz-select>
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="!editCacheLS[data.id].edit; else LSremarkTpl">
              {{data.yongfa}}
            </ng-container>
            <ng-template #LSremarkTpl>
              <nz-select  nzShowSearch nzPlaceHolder="请选择药品用法" [(ngModel)]="editCacheLS[data.id].data.remark" style="width: 100%;" nzAllowClear>
                <nz-option *ngFor="let o of yaopinyongfaResult.content" [nzValue]="o.id" [nzLabel]="o.dicName"></nz-option>
              </nz-select>
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="!editCacheLS[data.id].edit; else yiShengTpl">
              {{data.kaiYaoDoctor}}
            </ng-container>
            <ng-template #yiShengTpl>
              <input type="text" nz-input style="width: 100%;" [(ngModel)]="editCacheLS[data.id].data.kaiYaoDoctor" placeholder="医护">
            </ng-template>
          </td>
          <td>
            <div class="editable-row-operations">
              <ng-container *ngIf="!editCacheLS[data.id].edit; else LSsaveTpl">
                <a (click)="startEdit2(data.id)">编辑</a>
                <a nz-popconfirm nzTitle="确定删除?" style="margin-left: 5px" (nzOnConfirm)="deletedEdit2(data.id)">删除</a>
              </ng-container>
              <ng-template #LSsaveTpl>
                <a (click)="saveEdit2(data.id)">保存</a>
                <a *ngIf="data.id !=='null'" style="margin-left: 5px" (click)="cancelEdit2(data.id)">取消</a>
                <a *ngIf="data.id ==='null'" style="margin-left: 5px" (click)="deletedEdit2(data.id)">取消</a>
              </ng-template>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </nz-tab>

    <nz-tab  [nzTitle]="'病程记录'">
      <div style="margin-bottom: 10px">
        <button nz-button (click)="addRow3(editRowTable2)" [disabled]="disable" nzType="primary">新增</button>
        <button nz-button nzType="primary" [disabled]="!queryParam.query.lpId" (click)="exportSpecial(queryParam.query.lpId)">导出</button>

      </div>


      <nz-table #editRowTable2 nzBordered [nzData]="healthResult.content">
        <thead>
        <tr>
          <th style="width: 150px">日期</th>
          <th>医护</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of editRowTable2.data, let i = index;"  class="editable-row">
          <td>
            <ng-container *ngIf="!editHealth[data.id].edit; else nameInputTpl">
              {{data.tiJianTime | date}}
            </ng-container>
            <ng-template #nameInputTpl>
              <nz-date-picker [nzFormat]="'yyyy-MM-dd'" [ngModelOptions]="{standalone: true}" style="width: 100%;"
                              [(ngModel)]="editHealth[data.id].data.tiJianTime">
              </nz-date-picker>
            </ng-template>
          </td>

          <td>
            <ng-container *ngIf="!editHealth[data.id].edit; else doctorTpl">
              {{data.doctor}}
            </ng-container>
            <ng-template #doctorTpl>
              <input type="text" nz-input [(ngModel)]="editHealth[data.id].data.doctor" placeholder="医护">
            </ng-template>
          </td>
          <td>
            <div class="editable-row-operations">
              <ng-container *ngIf="!editHealth[data.id].edit; else saveTpl">
                <a (click)="startEdit3(data.id)">编辑</a>
                <a nz-popconfirm nzTitle="确定删除?" style="margin-left: 8px"  (nzOnConfirm)="deletedEdit3(data.id)">删除</a>
              </ng-container>
              <ng-template #saveTpl>
                <a (click)="saveEdit3(data.id)">保存</a>
                <a *ngIf="data.id !=='null'" (click)="cancelEdit3(data.id)">取消</a>
                <a *ngIf="data.id ==='null'" (click)="deletedEdit3(data.id)">取消</a>
              </ng-template>
             <a style="margin-left: 8px"  (click)="writeTeShuQingKuang(data.id)">特殊情况备注</a>
            </div>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </nz-tab>

  </nz-tabset>
</nz-card>

<nz-modal [(nzVisible)]="isVisible" nzTitle="特殊情况备注" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <textarea rows="4" nz-input [(ngModel)]="specialCase"></textarea>
</nz-modal>
