<page-header [breadcrumb]="breadcrumb" [action]="action">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a>医疗管理</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a>常规体检</a></nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #action>
    <button (click)="add()" nz-button nzType="primary">常规体检录入</button>
  </ng-template>
</page-header>

<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="query.query =$event;query.query.status = '2';st.load(query)"
      (formReset)="reset($event)"></sf>
  <st #st [res]="{process:processData}" [data]="url" [columns]="columns" [req]="{body:query}" [singleSort]="{key:'sortparam'}"></st>
</nz-card>
