<page-header>
  <ng-template #action>
    <button nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<form nz-form [nzLayout]="'inline'">
  <nz-form-item>
    <nz-form-label [nzSpan]="3">楼层</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select nzPlaceHolder="选择" style="width: 300px" name="selectValue" [(ngModel)]="selectValue">
        <nz-option nzValue="1" nzLabel="1楼平面图"></nz-option>
        <nz-option nzValue="2" nzLabel="2楼平面图"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" (click)="querySelect()">查询</button>
      <button nz-button nzType="primary" (click)="export()">导出</button>
    </nz-form-control>
  </nz-form-item>
</form>
<nz-card [nzTitle]="'1楼平面图'" [hidden]="showOneFloor">
  <div>
    <label style="font-size:20px;">本楼层被调查人总数:<b style="color: #f5222d">{{personTotal}}</b>人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（其中：男公安看护:<b style="color: #f5222d">{{menGongAnTypeCount}}</b>人，女公安看护:<b style="color: #f5222d">{{womenGongAnTypeCount}}</b>人，武警看护:<b style="color: #f5222d">{{wujingTypeCount}}</b>人)</label>
  </div>
<br>
  <div class="floorplan">
    <div class="left">
      <div class="equipment">
        <div class="spare_time">备勤室</div>
        <div class="equipment_left">装备室</div>
      </div>
      <div class="left_white">
        <div></div>
      </div>
      <div class="security"></div>
      <div class="left_elevator">
        <div class="levator-left">
          <div>电梯</div>
        </div>
        <div class="stairs_left">
          <div class="Stairleft">楼梯间</div>
        </div>
      </div>
      <div class="foot">
        <div class="physical">体检室</div>
        <div class="medical">医疗室</div>
      </div>
    </div>
    <div class="room">
      <div class="top">
        <p>
          <span id="'L01'" (click)="showDetail('L01')">
            <em class="roomNumber">{{getRoomName('L01')}}</em>
            <em class="roomview">
              <em class="top_room"><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L01')}}</em>
              <em class="bottom_room"><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L01')}}</em>
            </em>
          </span>
          <span id="'L02'" (click)="showDetail('L02')">
            <em class="roomNumber">{{getRoomName('L02')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L02')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L02')}}</em>
            </em>
          </span>
          <span id="'L03'" (click)="showDetail('L03')">
            <em class="roomNumber">{{getRoomName('L03')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L03')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L03')}}</em>
            </em>
          </span>
          <span id="'L04'" (click)="showDetail('L04')">
            <em class="roomNumber">{{getRoomName('L04')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L04')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L04')}}</em>
            </em>
          </span>
          <span id="'L05'" (click)="showDetail('L05')">
            <em class="roomNumber">{{getRoomName('L05')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L05')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L05')}}</em>
            </em>
          </span>
          <span id="'L06'" (click)="showDetail('L06')">
            <em class="roomNumber">{{getRoomName('L06')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L06')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L06')}}</em>
            </em>
          </span>
          <span id="'L07'" (click)="showDetail('L07')">
            <em class="roomNumber">{{getRoomName('L07')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L07')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L07')}}</em>
            </em>
          </span>
          <span id="'L08'" (click)="showDetail('L08')">
            <em class="roomNumber">{{getRoomName('L08')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L08')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L08')}}</em>
            </em>
          </span>
          <span id="'L09'" (click)="showDetail('L09')">
            <em class="roomNumber">{{getRoomName('L09')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L09')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L09')}}</em>
            </em>
          </span>
          <span>配电</span>
          <span class="last">消防</span>
        </p>
      </div>
      <div class="middle">
        <div class="elevator">
          <div class="stair-top"></div>
          <div class="stair-middle">安检通道</div>
          <div class="stair-bottom">电梯</div>
        </div>
        <div class="white"></div>
        <div class="stairs">
          <p>
            <span>楼梯间</span>
            <span id="L10" (click)="showDetail('L10')" class="right_rooms">
              <em class="right_roomNumber">{{getRoomName('L10')}}</em>
              <em class="right_roomview">
                <em class="right_top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L10')}}</em>
                <em class="right_bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L10')}}</em>
              </em>
            </span>
            <span id="L11" (click)="showDetail('L11')" class="right_rooms">
              <em class="right_roomNumber">{{getRoomName('L11')}}</em>
              <em class="right_roomview">
                <em class="right_top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L11')}}</em>
                <em class="right_bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L11')}}</em>
              </em>
            </span>
            <span style="border-bottom: none;" id="L12" (click)="showDetail('L12')"  class="right_rooms">
              <em class="right_roomNumber">{{getRoomName('L12')}}</em>
              <em class="right_roomview">
                <em class="right_top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L12')}}</em>
                <em class="right_bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L12')}}</em>
              </em>
            </span>
          </p>
        </div>
      </div>
      <div class="bottom">
        <p>
          <span>急救</span>
          <span id="L22" (click)="showDetail('L22')">
            <em class="roomNumber">{{getRoomName('L22')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L22')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L22')}}</em>
            </em>
          </span>
          <span id="L21" (click)="showDetail('L21')">
            <em class="roomNumber">{{getRoomName('L21')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L21')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L21')}}</em>
            </em>
          </span>
          <span id="L20" (click)="showDetail('L20')">
            <em class="roomNumber">{{getRoomName('L20')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L20')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L20')}}</em>
            </em>
          </span>
          <span id="L19" (click)="showDetail('L19')">
            <em class="roomNumber">{{getRoomName('L19')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L19')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L19')}}</em>
            </em>
          </span>
          <span id="L18" (click)="showDetail('L18')">
            <em class="roomNumber">{{getRoomName('L18')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L18')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L18')}}</em>
            </em>
          </span>
          <span id="L17" (click)="showDetail('L17')">
            <em class="roomNumber">{{getRoomName('L17')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L17')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L17')}}</em>
            </em>
          </span>
          <span id="L16" (click)="showDetail('L16')">
            <em class="roomNumber">{{getRoomName('L16')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L16')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L16')}}</em>
            </em>
          </span>
          <span id="L15" (click)="showDetail('L15')">
            <em class="roomNumber">{{getRoomName('L15')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L15')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L15')}}</em>
            </em>
          </span>
          <span id="L14" (click)="showDetail('L14')">
            <em class="roomNumber">{{getRoomName('L14')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L14')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L14')}}</em>
            </em>
          </span>
          <span class="last_B" id="L13" (click)="showDetail('L13')">
            <em class="roomNumber">{{getRoomName('L13')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L13')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L13')}}</em>
            </em>
          </span>
        </p>
      </div>
    </div>
  </div>
</nz-card>

<nz-card [nzTitle]="'2楼平面图'" [hidden]="showTwoFloor">
  <div>
    <label style="font-size:20px;">本楼层被调查人总数:<b style="color: #f5222d">{{personTotal}}</b>人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（其中：男公安看护:<b style="color: #f5222d">{{menGongAnTypeCount}}</b>人，女公安看护:<b style="color: #f5222d">{{womenGongAnTypeCount}}</b>人，武警看护:<b style="color: #f5222d">{{wujingTypeCount}}</b>人)</label>
  </div>
  <br>
  <div class="floor_two">
    <div class="floor_left">
      <p>
        <span id="'L31'" (click)="showDetail('L31')" class="right_rooms">
           <em class="right_roomNumber">{{getRoomName('L31')}}</em>
              <em class="right_roomview">
                <em class="right_top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L31')}}</em>
                <em class="right_bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L31')}}</em>
              </em>
        </span>
        <span id="'L30'" (click)="showDetail('L30')" class="right_rooms">
          <em class="right_roomNumber">{{getRoomName('L30')}}</em>
              <em class="right_roomview">
                <em class="right_top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L30')}}</em>
                <em class="right_bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L30')}}</em>
              </em>
        </span>
        <span id="'L29'" (click)="showDetail('L29')" class="right_rooms">
          <em class="right_roomNumber">{{getRoomName('L29')}}</em>
              <em class="right_roomview">
                <em class="right_top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L29')}}</em>
                <em class="right_bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L29')}}</em>
              </em>
        </span>
        <span id="'L28'" (click)="showDetail('L28')" class="right_rooms">
          <em class="right_roomNumber">{{getRoomName('L28')}}</em>
              <em class="right_roomview">
                <em class="right_top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L28')}}</em>
                <em class="right_bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L28')}}</em>
              </em>
        </span>
        <span id="'L27'" (click)="showDetail('L27')" class="right_rooms">
          <em class="right_roomNumber">{{getRoomName('L27')}}</em>
              <em class="right_roomview">
                <em class="right_top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L27')}}</em>
                <em class="right_bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L27')}}</em>
              </em>
        </span>
        <span id="'L26'" (click)="showDetail('L26')" class="right_rooms">
          <em class="right_roomNumber">{{getRoomName('L26')}}</em>
              <em class="right_roomview">
                <em class="right_top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L26')}}</em>
                <em class="right_bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L26')}}</em>
              </em>
        </span>
        <span>电梯</span>
        <span>楼梯间</span>
        <span id="'L55'" (click)="showDetail('L55')" class="right_rooms">
           <em class="right_roomNumber">{{getRoomName('L55')}}</em>
              <em class="right_roomview">
                <em class="right_top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L55')}}</em>
                <em class="right_bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L55')}}</em>
              </em>
        </span>
        <span style="border-bottom: none;" id="'L54'" (click)="showDetail('L54')" class="right_rooms">
            <em class="right_roomNumber">{{getRoomName('L54')}}</em>
            <em class="right_roomview">
              <em class="right_top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L54')}}</em>
              <em class="right_bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L54')}}</em>
            </em>
        </span>
      </p>
    </div>
    <div class="floor_right">
      <div class="floor_top">
        <p>
          <span id="'L32'" (click)="showDetail('L32')">
            <em class="roomNumber">{{getRoomName('L32')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L32')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L32')}}</em>
            </em>
          </span>
          <span id="'L33'" (click)="showDetail('L33')">
            <em class="roomNumber">{{getRoomName('L33')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L33')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L33')}}</em>
            </em>
          </span>
          <span id="'L34'" (click)="showDetail('L34')">
            <em class="roomNumber">{{getRoomName('L34')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L34')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L34')}}</em>
            </em>
          </span>
          <span id="'L35'" (click)="showDetail('L35')">
            <em class="roomNumber">{{getRoomName('L35')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L35')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L35')}}</em>
            </em>
          </span>
          <span id="'L36'" (click)="showDetail('L36')">
            <em class="roomNumber">{{getRoomName('L36')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L36')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L36')}}</em>
            </em>
          </span>
          <span id="'L37'" (click)="showDetail('L37')">
            <em class="roomNumber">{{getRoomName('L37')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L37')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L37')}}</em>
            </em>
          </span>
          <span id="'L38'" (click)="showDetail('L38')">
            <em class="roomNumber">{{getRoomName('L38')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L38')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L38')}}</em>
            </em>
          </span>
          <span id="'L39'" (click)="showDetail('L39')">
            <em class="roomNumber">{{getRoomName('L39')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L39')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L39')}}</em>
            </em>
          </span>
          <span id="'L40'" (click)="showDetail('L40')">
            <em class="roomNumber">{{getRoomName('L40')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L40')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L40')}}</em>
            </em>
          </span>
          <span>备勤</span>
          <span>备勤</span>
        </p>
      </div>
      <div class="floor_middle">
        <div class="middle_L">
          <div class="floor_M_L">
            <span id="'L25'" (click)="showDetail('L25')" class="floor_M_L_rooms">
              <em class="right_roomNumber">{{getRoomName('L25')}}</em>
              <em class="right_roomview">
                <em class="right_top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L25')}}</em>
                <em class="right_bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L25')}}</em>
              </em>
            </span>
            <span id="'L24'" (click)="showDetail('L24')" class="floor_M_L_rooms">
              <em class="right_roomNumber">{{getRoomName('L24')}}</em>
              <em class="right_roomview">
                <em class="right_top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L24')}}</em>
                <em class="right_bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L24')}}</em>
              </em>
            </span>
            <span id="'L23'" (click)="showDetail('L23')" class="floor_M_L_rooms">
              <em class="right_roomNumber">{{getRoomName('L23')}}</em>
              <em class="right_roomview">
                <em class="right_top_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L23')}}</em>
                <em class="right_bottom_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L23')}}</em>
              </em>
            </span>
            <span class="floor_L">
                <span class="F_middle_last">电梯</span><span></span>
              </span>
          </div>
          <div class="middle_white"></div>
        </div>
        <div class="middle_R">
          <p>
            <span>楼梯间</span>
            <span id="'L41'" (click)="showDetail('L41')" class="floor_M_L_rooms">
              <em class="right_roomNumber">{{getRoomName('L41')}}</em>
              <em class="right_roomview">
                <em class="right_top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L41')}}</em>
                <em class="right_bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L41')}}</em>
              </em>
            </span>
            <span id="'L42'" (click)="showDetail('L42')" class="floor_M_L_rooms">
              <em class="right_roomNumber">{{getRoomName('L42')}}</em>
              <em class="right_roomview">
                <em class="right_top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L42')}}</em>
                <em class="right_bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L42')}}</em>
              </em>
            </span>
            <span id="'L43'"  style="border-bottom:1px solid #000;" (click)="showDetail('L43')" class="floor_M_L_rooms">
              <em class="right_roomNumber">{{getRoomName('L43')}}</em>
              <em class="right_roomview">
                <em class="right_top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L43')}}</em>
                <em class="right_bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L43')}}</em>
              </em>
            </span>
          </p>
        </div>
      </div>
      <div class="floor_bto">
        <p>
          <span>急救</span>
          <span id="'L53'" (click)="showDetail('L53')">
            <em class="roomNumber">{{getRoomName('L53')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L53')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L53')}}</em>
            </em>
          </span>
          <span id="'L52'" (click)="showDetail('L52')">
            <em class="roomNumber">{{getRoomName('L52')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L52')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L52')}}</em>
            </em>
          </span>
          <span id="'L51'" (click)="showDetail('L51')">
            <em class="roomNumber">{{getRoomName('L51')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L51')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L51')}}</em>
            </em>
          </span>
          <span id="'L50'" (click)="showDetail('L50')">
            <em class="roomNumber">{{getRoomName('L50')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L50')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L50')}}</em>
            </em>
          </span>
          <span id="'L49'" (click)="showDetail('L49')">
            <em class="roomNumber">{{getRoomName('L49')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L49')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L49')}}</em>
            </em>
          </span>
          <span id="'L48'" (click)="showDetail('L48')">
            <em class="roomNumber">{{getRoomName('L48')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L48')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L48')}}</em>
            </em>
          </span>
          <span id="'L47'" (click)="showDetail('L47')">
            <em class="roomNumber">{{getRoomName('L47')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L47')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L47')}}</em>
            </em>
          </span>
          <span id="'L46'" (click)="showDetail('L46')">
            <em class="roomNumber">{{getRoomName('L46')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L46')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L46')}}</em>
            </em>
          </span>
          <span id="'L45'" (click)="showDetail('L45')">
            <em class="roomNumber">{{getRoomName('L45')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L45')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L45')}}</em>
            </em>
          </span>
          <span id="'L44'" (click)="showDetail('L44')">
            <em class="roomNumber">{{getRoomName('L44')}}</em>
            <em class="roomview">
              <em class="top_room" ><b style="color: #000c17">B</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_2('L44')}}</em>
              <em class="bottom_room" ><b style="color: #000c17">A</b>&nbsp;&nbsp;&nbsp;{{getLienDaiHao_1('L44')}}</em>
            </em>
          </span>
        </p>
      </div>
    </div>
  </div>
</nz-card>
<!-- 详情模态框 -->
<nz-modal [nzTitle]="'详情'" [(nzVisible)]="showView" [nzWidth]="700"
          (nzOnOk)="saveRoomAndBed()" (nzOnCancel)="cancel()">
  <form nz-form>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">房间号</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24">
        <input nz-input name="roomTitle" [(ngModel)]="room.title"/>
      </nz-form-control>
    </nz-form-item>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12" *ngFor="let bed of bedList; let i =index">
        <nz-card [nzTitle]="'床位' + (i+1) +  (bed.nearWind? '(靠窗)':'')">
          <form nz-form>
            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="24">编号</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24">
                <input nz-input name="title" [(ngModel)]="bed.title"/>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="24">留置人</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24">
                <input nz-input disabled="true" name="daiHao" [(ngModel)]="bed.daiHao"/>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="24">承办部门</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24">
                <input nz-input disabled="true" name="buMen" [(ngModel)]="bed.buMen"/>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="24">进驻时间</nz-form-label>
              <nz-form-control [nzSm]="16" [nzXs]="24">
                <input nz-input disabled="true" name="jinzhuTime" [(ngModel)]="bed.jinzhuTime"/>
              </nz-form-control>
            </nz-form-item>
          </form>
        </nz-card>
      </div>
    </div>
  </form>
</nz-modal>
